body{
}

#bg{
	background-image: url(../rpsbg.png);
	background-repeat: repeat-x;
}

.panel{
	height: 25%;
}

#nameinput1{
	margin-left: 35%;
	width: 30%;
}

#nameinput2{
	margin-left: 35%;
	width: 30%;
}

.hide{
	display: none;
}