body{
}

.rpsTitle{
	margin-top: 0%;
	margin-bottom: 2%;
}

.bg{
	background-image: url(../rpsbg.png);
	background-repeat: repeat-x;
	height: 323px;
	margin: none;
	padding-top: 2%;
}

.panel{
	height: 25%;
}

#nameinput{
	margin-left: 45%;
	width: 10%;
}

.hide{
	display: none;
}

.resultText{
	text-align: center;
}